
.budget{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 20px;

}

.bud-add-big-box {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-left: 30px;
    border-radius: 10px;
    margin-bottom: 100px;
}
 .bud-left-top{
     background: #fff;
     height: 280px;
     border-radius: 10px;
    box-shadow: 5px 5px 10px 8px gray;
    text-align: center;
    margin-bottom: 20px;
    
 }

.bud-left-bottom {
    background: #fff;
    height:280px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 8px gray;
    text-align: center;
}

.bud-add-left-right {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-around;
}

.bud-add-right {
    /* margin-left: 20px; */
}

.bud-add-left {
    display: flex;
    flex-direction: column;
    /* margin-left: 10px; */
}

.bud-add-right-first{
    margin-top: 20px;
}

.bud-add-right-second{
    margin-top: 40px;
}

.bud-add-bottom-right-second {
    margin-top: 38px;
}

.bud-add-bottom-right-third {
    margin-top: 38px;
}

.budget-button {
	height: 50px;
	width: 120px;
	border-radius: 10px;
	background-image: linear-gradient(240deg, #76a9af, #40d2e2, #127194 75%);
	color: black;
	font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
}

.budget-button:hover{
    background-image: linear-gradient(240deg, rgb(218, 169, 34), #ffa500, rgb(189, 105, 9) 75%);

}

.bud-act {
    background: #fff;
    border-radius: 10px;
    margin-left: 20px;
    box-shadow: 5px 5px 10px 8px gray;
    width: 24%;
    text-align: center;
}

.bud-act-big-box {
    margin-left: 10px;
    padding-right: 10px;
}



.bud-mid-l-r {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;

}

.bud-mid-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
    
}

.bud-mid-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bud-chart {
    background: #fff;
    margin-left: 20px;
    width: 35%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 8px gray;
    margin-right: 30px;

    
}

@media(max-width: 420px){
    
.budget{
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
  

}

.bud-add-big-box {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-left: 0px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 12px;
}
 .bud-left-top{
     background: #fff;
     height: 230px;
     border-radius: 10px;
    box-shadow: 5px 5px 10px 8px gray;
    text-align: center;
    margin-bottom: 20px;
    
 }

.bud-left-bottom {
    background: #fff;
    height:220px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 8px gray;
    text-align: center;
}

.bud-add-left-right {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-around;
}

.bud-add-right {
    margin-left: 0px;
}

.bud-add-left {
    display: flex;
    flex-direction: column;
    /* margin-left: 10px; */
}

.bud-add-right-first{
    margin-top: 13px;
}

.bud-add-right-second{
    margin-top: 24px;
}

.bud-add-bottom-right-second {
    margin-top: 30px;
}

.bud-add-bottom-right-third {
    margin-top: 28px;
}

.budget-button {
	height: 50px;
	width: 120px;
	border-radius: 10px;
	background-image: linear-gradient(240deg, #76a9af, #40d2e2, #127194 75%);
	color: black;
	font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
}

.budget-button:hover{
    background-image: linear-gradient(240deg, rgb(218, 169, 34), #ffa500, rgb(189, 105, 9) 75%);

}

.bud-act {
    background: #fff;
    border-radius: 10px;
    margin-left: 0px;
    box-shadow: 5px 5px 10px 8px gray;
    width: 95%;
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
}

.bud-act-big-box {
    margin-left: 10px;
    padding-right: 10px;
}



.bud-mid-l-r {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0px;
    font-size: 12px;

}

.bud-mid-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
    
}

.bud-mid-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bud-chart {
    background: #fff;
    margin-left: 0px;
    width: 95%;
    height: 200px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 8px gray;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px

    
}
}