.exp-border-box {

}

.each-exp {
    border-bottom: 2px solid black;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 7.5px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px 2px gray;
    
}

.exp-info-date {
    display: flex;
    justify-content: flex-start;
    width: 15%;
    margin-left: 10px;  
}

.exp-info-category{
    display: flex;
    justify-content: flex-start;
    width: 20%;
}

.exp-info-name{
    display: flex;
    justify-content: flex-start;
    width: 25%;  
}

.exp-info-amount{
    display: flex;
    justify-content: flex-start;
    width: 15%; 
}

.exp-info-memo{
    display: flex;
    justify-content: flex-start;
    width: 20%; 
}

.exp-info-button{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 5;
    margin-right: 10px;
    
    
}

.exp-edit-button:hover{
    background-color: #5ab7c2;
}

@media(max-width: 420px) {
    .each-exp {
        font-size: 9px;
        
    }

    .exp-info-date {
        margin-left: 5px;
        width: 12%;
    }

    .exp-info-category{
        display: none;
        /* display: flex;
        justify-content: flex-start;
        width: 20%;
        margin-left: -4px; */
    }
    
    .exp-info-name{
        display: flex;
        justify-content: flex-start;
        width: 25%; 
        margin-left: 4px; 
    }
    
    .exp-info-amount{
        display: flex;
        justify-content: flex-start;
        width: 15%; 
    }
    
    .exp-info-memo{
        display: flex;
        justify-content: flex-start;
        width: 20%; 
    }

    .exp-info-button {
        margin-right: 5px;
    }
}



