*,
:before,
:after {
  box-sizing: border-box;
}

body {
  background: yellow;
}

.nav-items {
  background-color: green;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}